[Desktop Entry]
Categories=Settings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
Comment=Device Driver Manager
Comment[ar]=مدير تعريف الأجهزة
Comment[ca]=Device Driver Manager
Comment[de]=Device Driver Manager
Comment[es]=Administrador de Drivers de Dispositivos
Comment[fr]=Device Driver Manager
Comment[it]=Device Driver Manager
Comment[ja]=デバイスドライバーマネージャー
Comment[nb]=Device Driver Manager
Comment[nl]=Device Driver Manager
Comment[pl]=Menedżer sterowników
Comment[pt_PT]=Gestor de Driver de Dispositivo
Comment[ru]=Менеджер драйверов устройств
Encoding=UTF-8
Exec=ddm
Icon=ddm
Name=Device Driver Manager
Name[ar]=مدير تعريف الأجهزة
Name[ca]=Device Driver Manager
Name[de]=Device Driver Manager
Name[es]=Administrador de Drivers de Dispositivos
Name[fr]=Device Driver Manager
Name[it]=Device Driver Manager
Name[ja]=デバイスドライバーマネージャー
Name[nb]=Device Driver Manager
Name[nl]=Device Driver Manager
Name[pl]=Menedżer sterowników
Name[pt_PT]=Gestor de Driver de Dispositivo
Name[ru]=Менеджер драйверов устройств
StartupNotify=false
Terminal=false
Type=Application