Source: ddm
Section: admin
Priority: optional
Maintainer: Arjen Balfoort <arjenbalfoort@solydxk.com>
Build-Depends: debhelper (>= 9)
  , python3 (>= 3.2)
  , po4a
  , intltool
  , transifex-client
  , translate-toolkit
X-Python3-Version: >= 3.2
Standards-Version: 3.9.6
Vcs-Git: git://github.com/SolydXK/ddm.git
Vcs-Browser: https://github.com/SolydXK/ddm

Package: ddm
Architecture: all
Depends: ${misc:Depends}
  , python3
  , python3-gi
  , gir1.2-webkit-3.0
  , gir1.2-gtk-3.0
  , nvidia-detect
  , apt-show-versions
  , xserver-xorg-video-intel
  , xserver-xorg-video-fbdev
  , xserver-xorg-video-radeon
  , xserver-xorg-video-ati
  , xserver-xorg-video-nouveau
  , xserver-xorg-video-vesa
Conflicts: solydxk-locale
Replaces: solydxk-locale
Description: Device driver manager
 Device Driver Manager is a tool to help users installing third-party
 hardware drivers.
 Currently Nvidia, ATI and Broadcom drivers can be installed and allow
 to install the PAE kernel for multi-core 32-bit systems.
