Source: device-driver-manager
Section: admin
Priority: optional
Maintainer: Schoelje <schoelje@hotmail.nl>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: device-driver-manager
Version: 0.2.4
Architecture: all
Maintainer: Schoelje <schoelje@hotmail.nl>
Installed-Size: 216
Depends: python (>= 2.7), python-gtk2, python-glade2, aptitude, wireless-tools, apt, dpkg, pciutils, debconf
Section: admin
Priority: optional
Description: Device driver manager
 Device Driver Manager is a tool to help users installing third-party hardware drivers.
 Currently Nvidia, ATI and Broadcom drivers can be installed and allows to install the PAE kernel for multi-core 32-bit systems.
